# Python
*.pyc
*.egg-info/

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea
*.wpr
*.wpu
.vs
x64

# Temp
build
dist
*.local

# vn.py
.vntrader

# Visual Studio intermediate files
*.exp
*.iobj
*.ipdb
*.pdb

# Documents
_build
_static
_templates

*.xlsx
*.png
*.csv
examples/talib_study/未命名1.ipynb
examples/talib_study/2020-07-15/eladmin.sql
examples/talib_study/basic_bao_plot_usage.ipynb
examples/talib_study/basic_bao_plot_usage.ipynb
